.auth-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.auth-component h2{
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 80px;
    width: 260px;
}

.login-button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }